:root {
  --button-vertical-size: 30px;
  --border-radius: calc(var(--button-vertical-size) / 2);
  --menu-margin: 10px;
  --menu-background: rgba(20, 20, 20, 0.3);
  --button-icon-size: calc(var(--button-vertical-size) * 2 / 3);
}

html,
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}

button {
  border: 0;
  outline: 0;
}

#player {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.menu-container {
  position: absolute;
  padding: 0;
  color: white;
  background-color: var(--menu-background);
  border-radius: var(--border-radius);
  z-index: 0;
}

.menu-container.main-menu {
  right: var(--menu-margin);
  top: 60px;
  padding: 0;
  width: 200px;
  height: 300px;
}

.menu-item {
  text-align: center;
  color: white;
  background: transparent;
  fill: white;
  font-size: 14px;
}

.main-menu .menu-item {
  width: 100%;
}

button.main-menu {
  padding: 5px 0;
  margin: 2px 0;
  width: 100%;
}

button.menu-item {
  border-radius: var(--border-radius);
}

button.menu-item:hover {
  background-color: rgba(50, 50, 50, 0.8);
}

button.menu-item:active {
  background-color: rgba(60, 60, 60, 0.8);
}

.menu-container.radio-controls {
  margin: 10px 0 0;
}

#radio-name-container {
  margin: 0 auto 3px;
  width: calc(100% - var(--button-vertical-size));
  border-radius: 0;
}
#radio-button-container {
  height: var(--button-vertical-size);
}

.radio-controls button {
  margin: 0px;
  height: var(--button-vertical-size) !important;
  width: var(--button-vertical-size) !important;
  cursor: pointer;
}

.menu-container.video-controls {
  display: flex;
  left: 10%;
  bottom: var(--menu-margin);
  margin: auto;
  padding: 0;
  border-radius: var(--border-radius);
  width: 80%;
  height: var(--button-vertical-size);
}

.video-controls .menu-item {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.video-controls button {
  margin: 0px;
  height: var(--button-vertical-size);
  width: var(--button-vertical-size);
  cursor: pointer;
}

button svg {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  position: fixed;
  /* the Jam svgs are around 24x24 px */
  margin-top: calc(var(--button-icon-size) * -1 / 2);
  margin-left: calc(var(--button-icon-size) * -1 / 2);
}

button[id$="play"] svg {
  margin-left: calc(var(--button-icon-size) * -1 / 2 + 1px);
}
button[id$="backward"] svg {
  margin-left: calc(var(--button-icon-size) * -1 / 2 - 1px);
}
button[id$="forward"] svg {
  margin-left: calc(var(--button-icon-size) * -1 / 2 + 2px);
}

#video-time-container {
  margin: 0;
  padding: 0;
  width: 100px;
  height: var(--button-vertical-size);
}
#video-time-container text {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  line-height: var(--button-vertical-size);
}
#video-current-time {
  text-align: right;
}
#video-overall-time {
  text-align: left;
}

#video-progress-bar {
  margin: 0;
  padding: 0;
  width: calc((100% - 145px));
}

/* Video slider */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  display: inline-block;
  width: 100%; /* Specific width is required for Firefox. */
  height: 10px;
  background: transparent; /* Otherwise white in Chrome */
}
input[type="range"]:focus {
  outline: none;
}
/* Thumbs */
/* Chrome */
input[type="range"]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 10px;
  width: 2px;
  border-radius: 1px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  border: 0px solid #000000;
  height: 10px;
  width: 2px;
  border-radius: 1px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
/* IE */
input[type="range"]::-ms-thumb {
  border: 0px solid #000000;
  height: 10px;
  width: 2px;
  border-radius: 1px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
/* Sliders */
/* Chrome */
input[type="range"]::-webkit-slider-runnable-track {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
/* Firefox */
input[type="range"]::-moz-range-progress {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
input[type="range"]::-moz-range-track {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
/* IE */
input[type="range"]::-ms-track {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
input[type="range"]::-ms-fill-lower {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: white;
  outline: 0;
  border-radius: 2px;
}
input[type="range"]::-ms-fill-upper {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
