:root {
  --button-vertical-size: 30px;
  --border-radius: calc(var(--button-vertical-size) / 2);
  --menu-margin: 10px;
  --menu-background-color: rgba(20, 20, 20, 0.3);
  --button-icon-size: calc(var(--button-vertical-size) * 2 / 3);
  --button-font-icon-top-margin: calc(var(--button-icon-size) * -1 / 2 - 1px);
  --button-font-icon-left-margin: calc(var(--button-icon-size) * -1 / 2 + 1px);
  --main-menu-width: 200px;
  --main-menu-height: auto;
  --button-hover-color: rgba(50, 50, 50, 1);
  --button-click-color: rgba(10, 10, 10, 1);
}

html,
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-size: 0;
}

button {
  border: 0;
  outline: 0;
}

#player {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.menu-container {
  padding: 0;
  color: white;
  background-color: var(--menu-background-color);
  border-radius: var(--border-radius);
  z-index: 0;
}

.menu-container.main-menu {
  position: absolute;
  right: var(--menu-margin);
  top: 60px;
  width: var(--main-menu-width);
  height: var(--main-menu-height);
}

.menu-container[data-enabled="true"] {
}
.menu-container[data-enabled="false"] {
  display: none !important;
}

.menu-item {
  flex: none;
  text-align: center;
  color: white;
  background: transparent;
  fill: white;
  font-size: 14px;
  border-radius: var(--border-radius);
}

.main-menu .menu-item {
  width: 100%;
}

button.main-menu {
  padding: 5px 0;
  width: 100%;
}

button.menu-item {
  transition: 0.15s;
}

button.menu-item:hover {
  background-color: var(--button-hover-color);
  transition: 0.05s;
}

button.menu-item:active {
  background-color: var(--button-click-color);
}

.menu-container.radio-controls {
  margin: 5px 0 0;
}

#radio-name-container {
  margin: 0 auto 3px;
  width: calc(100% - var(--button-vertical-size));
  border-radius: 0;
}
#radio-button-container {
  display: flex;
  text-align: center;
  height: var(--button-vertical-size);
}

.radio-controls button {
  display: inline-block;
  margin: 0;
  height: var(--button-vertical-size) !important;
  width: var(--button-vertical-size) !important;
  cursor: pointer;
}
button#radio-backward {
  margin-left: auto;
}
button#radio-forward {
  margin-right: auto;
}
button#radio-volume {
  z-index: 3; /* for proper interaction with the expanding slider */
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  /* Since the icon is dynamically changed font icon is used. */
  font-size: 20px;
  text-align: center;
  line-height: var(--button-vertical-size);
}
button#radio-volume[data-state="muted"] svg {
}
#radio-volume-slider-container {
  position: absolute;
  display: block;
  bottom: 0;
  width: 0;
  background-color: rgba(70, 70, 70, 1);
  visibility: hidden;
  right: calc(var(--button-vertical-size) * 1 / 2);
  height: var(--button-vertical-size);
  line-height: var(--button-vertical-size);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  transition: 0.5s;
  /* Inverted mask in the shape of a circle */
  /* so as not to clip with the volume button. */
  /* hardcoded radius for now since CSS does not allow string concatenation */
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><circle cx="100%" cy="50%" r="15" fill="black"/></svg>')
      0/100% 100%,
    linear-gradient(#fff, #fff);
  -webkit-mask-composite: destination-out;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><circle cx="100%" cy="50%" r="15" fill="black"/></svg>')
      0/100% 100%,
    linear-gradient(#fff, #fff);
  mask-composite: exclude;
}
button#radio-volume:hover + #radio-volume-slider-container,
#radio-volume-slider-container:hover {
  transition: 0.5s;
  padding: 0;
  visibility: visible;
  width: calc(var(--main-menu-width) - var(--border-radius));
}
#radio-volume-slider {
  padding-right: var(--border-radius);
  width: calc((100% - 3 * var(--border-radius)));
}

.menu-container.video-controls {
  position: absolute;
  display: flex;
  left: 10%;
  bottom: var(--menu-margin);
  margin: auto;
  padding: 0;
  border-radius: var(--border-radius);
  width: 80%;
  height: var(--button-vertical-size);
}

.video-controls .menu-item {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.video-controls button {
  margin: 0px;
  height: var(--button-vertical-size);
  width: var(--button-vertical-size);
  cursor: pointer;
}

button svg {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  position: fixed;
  /* the Jam svgs are around 24x24 px */
  margin-top: calc(var(--button-icon-size) * -1 / 2);
  margin-left: calc(var(--button-icon-size) * -1 / 2);
}

button[id$="play"] svg {
  margin-left: calc(var(--button-icon-size) * -1 / 2 + 1px);
}
button[id$="backward"] svg {
  margin-left: calc(var(--button-icon-size) * -1 / 2 - 1px);
}
button[id$="forward"] svg {
  margin-left: calc(var(--button-icon-size) * -1 / 2 + 2px);
}
/* Font Jam icon specific styles */
button span.jam {
  display: inline-block;
  font-size: 20px;
  position: fixed;
  /* the Jam svgs are around 24x24 px */
  margin-top: var(--button-font-icon-top-margin);
  margin-left: var(--button-font-icon-left-margin);
}
button span.jam.jam-pause {
  margin-left: calc(var(--button-font-icon-left-margin) - 1px);
}

#video-time-container {
  margin: 0;
  padding: 0;
  width: 100px;
  height: var(--button-vertical-size);
}
#video-time-container text {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  line-height: var(--button-vertical-size);
}
#video-current-time {
  text-align: right;
}
#video-overall-time {
  text-align: left;
}

#video-progress-bar {
  margin: 0;
  padding: 0;
  width: calc((100% - 145px));
}

/* Video slider */
input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that a custom can be made */
  display: inline-block;
  width: 100%; /* Specific width is required for Firefox. */
  height: 10px;
  background: transparent; /* Otherwise white in Chrome */
}
input[type="range"]:focus {
  outline: none;
}
/* Thumbs */
/* Chrome */
input[type="range"]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 10px;
  width: 2px;
  border-radius: 1px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  border: 0px solid #000000;
  height: 10px;
  width: 2px;
  border-radius: 1px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
/* IE */
input[type="range"]::-ms-thumb {
  border: 0px solid #000000;
  height: 10px;
  width: 2px;
  border-radius: 1px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
/* Sliders */
/* Chrome */
input[type="range"]::-webkit-slider-runnable-track {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
/* Firefox */
input[type="range"]::-moz-range-progress {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
input[type="range"]::-moz-range-track {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
/* IE */
input[type="range"]::-ms-track {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
input[type="range"]::-ms-fill-lower {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: white;
  outline: 0;
  border-radius: 2px;
}
input[type="range"]::-ms-fill-upper {
  padding: 0 0;
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: grey;
  outline: 0;
  border-radius: 2px;
}
